 <div class="welcome">
  <header>
      <img src="assets/logo.png" alt="velsuniv">
    </header>
  <div class= "title">
      <h1 style="font-size:3vw" class="font-bold">VELS ENTRANCE EXAMINATION</h1>
  </div>
  <div class="grid-container">
      <div class="neu">
          <h3>Engineering</h3>
          <h4>(B.E. , B.Tech)</h4>
          <button class="btn" (click)="setExam('1','Engineering')" >Take Test</button>
        </div>
      <div class="neu">
          <h3>Law</h3>
          <h4>(B.B.A LLB, B.A LLB, B.com LLB, LLB)</h4>
          <button class="btn" (click)="setExam('3','Law')" >Take Test</button>
        </div>
      <div class="neu">
          <h3>MCA</h3>
          <button class="btn" (click)="setExam('4','MCA')" >Take Test</button>
        </div>
      <div class="neu"> 
          <h3>Pharamaceutical Sciences</h3>
          <h4>(B.Pharm , Pharm.D)</h4>

          <button class="btn" (click)="setExam('0','Pharamaceutical Sciences')" >Take Test</button>
        </div>
      <div class="neu">
          <h3>MBA</h3>
            <button class="btn" (click)="setExam('2','MBA')" >Take Test</button>
      </div>
  </div>
  <div></div>
  <div></div>
  <br>
  <br>
  <br>
  <footer>
    <div >Copyright © 2008 - 2020 Vels Institute Of Science, Technology & Advanced Studies (VISTAS) | Developed with <span style="color:Tomato">&#10084;</span>
      by <a href="/credits"> @Sivasai2207, @SivaTheja10, @StarkDroid</a></div>
  </footer>
</div> 