<div class="welcome">
  <header>
      <img src="http://www.velsuniv.ac.in/images/logo.png" alt="velsuniv">
    </header>
  <div class= "title">
      <h1 style="font-size:2vw;">VISTAS ENTRANCE EXAMINATION</h1>
  </div>
  <div class="grid-container">
      <div class="neu">
          <h3>School Of Engineering</h3>
         <a href="#" class="btn">Take Test</a>
      </div>
      <div class="neu">
          <h3>School Of Law</h3>
            <a href="#" class="btn">Take Test</a>
      </div>
      <div class="neu">
          <h3>School Of Computing Sciences</h3>
            <a href="#" class="btn">Take Test</a>
      </div>
      <div class="neu"> 
          <h3>School Of Pharamaceutical Sciences</h3>
            <a href="#" class="btn">Take Test</a>
      </div>
      <div class="neu">
          <h3>School Of Management Studies</h3>
            <a href="#" class="btn">Take Test</a>
      </div>
  </div>
  <footer>
      Copyright © 2008 - 2020 Vels Institute Of Science, Technology & Advanced Studies (VISTAS)
  </footer>
</div>