<div class="welcome">
  <header>
      <img src="assets/logo.png" alt="velsuniv">
    </header>
  <div class= "title">
      <h1 style="font-size:2vw;">VISTAS ENTRANCE EXAMINATION</h1>
  </div>
  <div class="grid-container">
      <div class="neu">
          <h3>Engineering</h3>
          <h4>(B.E. , B.Tech)</h4>
          <button class="btn" (click)="setExam('0')" >Take Test</button>
        </div>
      <div class="neu">
          <h3>Law</h3>
          <h4>(B.B.A LLB, B.A LLB, B.com LLB, LLB)</h4>
          <button class="btn" (click)="setExam('1')" >Take Test</button>
        </div>
      <div class="neu">
          <h3>MCA</h3>
          <button class="btn" (click)="setExam('2')" >Take Test</button>
        </div>
      <div class="neu"> 
          <h3>Pharamaceutical Sciences</h3>
          <h4>(B.Pharm , Pharm.D)</h4>

          <button class="btn" (click)="setExam('0')" >Take Test</button>
        </div>
      <div class="neu">
          <h3>MBA</h3>
            <button class="btn" (click)="setExam('4')" >Take Test</button>
      </div>
  </div>
  <footer>
      Copyright © 2008 - 2020 Vels Institute Of Science, Technology & Advanced Studies (VISTAS) <br>Developed with <span style="color:Tomato">&#10084;</span>
      by <a href="/credits"> @Sivasai2207, @SivaTheja10, @StarkDroid</a>
  </footer>
</div>