<mat-toolbar class="mat-elevation-z5" color="primary">
  <p>Welcome, {{user.email}}</p>
    <span class="fill"></span>
  Vels Entrance Exam 
    <span class="fill"></span>
  <button class="mat-raised-button" (click)="logout()">Logout</button>  
  </mat-toolbar >

  <div class="header-spacer"></div>

  <mat-card class="card-form mat-elevation-z6">
<h1 mat-dialog-title>INSTRUCTIONS</h1>
<div mat-dialog-content>
<h2>How to take test</h2>
<li>Click on The <b>Take Test</b> button</li>
<li>Enter your Admission number and your department code for the test</li>
<li>Once you are logged in, The test duration time will start</li>
<h2>Test Instructions</h2>
<li><b>Review button:</b> Check the questions that are answered and not answered</li>
<li><b>Submit button:</b> Submit your paper for correction</li>
<li>Make sure you answer all the questions</li>
<li>The Test will be auto submitted instantly once the timer runs out</li>
<li>No negative marking</li>
</div>
</mat-card>
<br>  
  <!-- Bpharm test -->
  <mat-card class="card-form mat-elevation-z6">
    <mat-card-header>
      <mat-card-title>
        B.Pharm Entrance Exam
      </mat-card-title>
      <mat-card-subtitle>Date: 25/04/2020</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <b>Questions - 100 <br>
        Marks - 100 <br>
        Duration - 45mins <br>
      </b>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/questions" routerLinkActive="active">Take Test</button>
    </mat-card-actions>
  </mat-card>
  