<mat-toolbar class="mat-elevation-z5" color="primary">
  <p>Welcome, {{user.email}}</p>
    <span class="fill"></span>
  Vels Entrance Exam 
    <span class="fill"></span>
  <button class="mat-raised-button" (click)="logout()">Logout</button>  
  </mat-toolbar >

  <div class="header-spacer"></div>


<div class="dropzone" 
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">

     <h3>Upload 12th or Equivalent Exam Hallticket</h3>
     <h4>Formats : (PDF, JPG, PNG, JPEG)</h4>
     <p>Drag and Drop a File</p>
     <div class="file">
        <label class="file-label">

        <input class="file-input" type="file" (change)="onDrop($event.target.files)">

          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
</div>

<h3 class="uploads">Uploads</h3>

<div *ngFor="let file of files">
  <upload-task [file]="file"></upload-task>
</div>
<div>
  <mat-card-actions >
    <button class="btn" mat-raised-button color="primary" routerLink="/home" routerLinkActive="active">Proceed</button>
  </mat-card-actions>
</div>
<footer class="footer">
           
  <div >Copyright © 2008 - 2020 <a href="http://www.velsuniv.ac.in/"target="_blank">Vels Institute Of Science, Technology & Advanced Studies</a>(VISTAS)</div>

</footer>
