.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 80vw;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: whitesmoke;
    margin: 10px 0;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }

  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
  


  .uploads{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin: 10px 0;
    margin-left: auto;


  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin: 10px 0;
    margin-left: 47%;
  }
  
  .fill{
    margin: auto;
}

.header-spacer{
    margin-top: 30px;
}

.card-form{
    max-width: 600px;
    margin: auto;
}

.fill{
    flex: 1 1 auto;
}

a,
a:focus,
a:hover {
  color: #000;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:black;
  text-align: center;
 }