<div class="flex  items-center justify-center h-full md:flex pt-64">
    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="sm:flex sm:items-center px-6 py-4">
        <div
            class="flex items-center justify-center h-30 w-30 rounded-full mx-auto sm:rounded-full"
        >
        <img
            class="h-20 w-20 rounded-full mx-auto"
            src="https://avatars0.githubusercontent.com/u/49616092?s=400&u=b1f522fa512ebf5026804c21451056f59ceb2a80&v=4"
            
            />
        </div>
    
        <div class="mt-4 sm:mt-0 sm:ml-4 text-center sm:text-left">
            <p class="text-xl leading-tight">Siva Saikumar Reddy K</p>
            <p class="text-sm leading-tight text-gray-600">
                Front-end web developer <br> UI - Designer
            </p>
            <div class="mt-4">
                <a href="https://github.com/sivasai2207" target="_blank" style="text-decoration:none"
                    class="text-white-700 hover:text-white hover:bg-black border border-purple-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal"
                >
                Github
                </a>
            </div>
            <div class="mt-4">
                <a href="https://www.linkedin.com/in/siva-saikumar-reddy-k-05b11b18a/" target="_blank" style="text-decoration:none"
                    class="text-blue-700 hover:text-white hover:bg-blue-600 border border-purple-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal"
                >
                LinkedIn
                </a>
            </div>
        </div>
        </div>
    </div>
    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="sm:flex sm:items-center px-6 py-4">
        <div
            class="flex items-center justify-center h-30 w-30 rounded-full mx-auto sm:rounded-full"
        >
        <img
            class="h-20 w-20 rounded-full mx-auto"
            src="https://avatars3.githubusercontent.com/u/12194495?s=460&u=b03660a4c5f212736021db0e13d037bc001b76b3&v=4"
            
            />
        </div>
    
        <div class="mt-4 sm:mt-0 sm:ml-1 text-center sm:text-left">
            <p class="text-xl leading-tight">Sivathejeswara Reddy K</p>
            <p class="text-sm leading-tight text-gray-600">
                Full stack developer
            </p>
            <div class="mt-4">
                <a href="https://github.com/sivatheja10" target="_blank" style="text-decoration:none"
                class="text-white-700 hover:text-white hover:bg-black border border-purple-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal"                >
                Github
                </a>
            </div>
            <div class="mt-4">
                <a href="https://www.linkedin.com/in/sivateja10/" target="_blank" style="text-decoration:none"
                    class="text-blue-700 hover:text-white hover:bg-blue-600 border border-purple-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal"
                >
                LinkedIn
                </a>
            </div>
        </div>
        </div>
    </div>
    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="sm:flex sm:items-center px-6 py-4">
        <div
            class="flex items-center justify-center h-30 w-30 rounded-full mx-auto sm:rounded-full"
        >
        <img
            class="h-20 w-20 rounded-full mx-auto"
            src="assets/trishi.jpeg"
            
            />
        </div>
    
        <div class="mt-4 sm:mt-0 sm:ml-4 text-center sm:text-left">
            <p class="text-xl leading-tight">Trishi Raj</p>
            <p class="text-sm leading-tight text-gray-600">
              Web designer
            </p>
            <div class="mt-4">
                <a href="https://github.com/StarkDroid" target="_blank" style="text-decoration:none"
                class="text-white-700 hover:text-white hover:bg-black border border-purple-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal"                >
                Github
                </a>
            </div>
            <div class="mt-4">
                <a href="https://www.linkedin.com/in/trishi-raj-b30b3a188" target="_blank" style="text-decoration:none"
                    class="text-blue-700 hover:text-white hover:bg-blue-600 border border-purple-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal"
                >
                LinkedIn
                </a>
            </div>
        </div>
        </div>
    </div>
</div>
